/* add color variable */
:root {
	--primary-color: #2dc46a;
	--secondary-color: #ffffff;
	--tertiary-color: #a39e9e;
	--quaternary-color: #000000;
	--oslo-primary-color: #66778f;
}
.App {
	text-align: center;
}
.errorDiv {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.errorDiv h1 {
	font-size: 64px;
}
/* NavBar */
.Nav {
	background-color: var(--primary-color);
	color: #ffffff;
	display: flex;
	flex-direction: column;
}
.nav-list {
	display: flex;
	list-style-type: none;
	justify-content: space-evenly;
	align-items: center;
	padding: 16px;
}
.nav-brand {
	font-size: 24px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
}
.nav-brand > span {
	font-weight: bold;
}
a {
	text-decoration: none;
	color: var(--secondary-color);
}
h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 32px;
}
.subtitle {
	font-size: medium;
	text-align: center;
	font-size: 32px;
	margin-bottom: 16px;
}
.decorationBar {
	position: relative;
	top: -80px;
	z-index: -2;
	bottom: -100px;
	left: 0;
	width: 100%;
	height: 200px;
	background: var(--primary-color);
	transform: skewY(-6deg);
}
.decorationBar {
	position: relative;
	top: -80px;
	z-index: -2;
	bottom: -100px;
	left: 0;
	width: 100%;
	height: 200px;
	background: var(--primary-color);
	transform: skewY(-6deg);
}
/* Footer */
.footer {
	background-color: var(--quaternary-color);
	color: var(--tertiary-color);
	padding: 24px;
	margin-top: 32px;
}
.footer ul {
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.footer li {
	list-style: none;
}
/* Description card */
.cardContainer {
	position: relative;
	top: -200px;
}
.card {
	background-color: #fff;
	display: flex;
	margin: 32px auto;
	padding: 32px;
	width: 60%;
	border: none;
	border-radius: 4px;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
.card-content {
	display: flex;
	flex-direction: column;
	margin-left: 32px;
}
.card-title {
	font-weight: bold;
	margin-bottom: 16px;
}
.card-description {
	color: gray;
}
.logo {
	align-self: center;
	font-size: 64px;
}
.form-group {
	margin-top: 16px;
}
/* Main button */
.main-button {
	background-color: #626ccc;
	color: aliceblue;
	padding: 18px 20px;
	align-self: center;
	border: none;
	margin: 24px 0 48px 0;
	border-radius: 4%;
	font-size: larger;
	font-weight: bold;
	text-decoration: none;
}
/* GeneralDetails */
.form-card {
	position: relative;
	top: -160px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-radius: 4px;
	max-width: 80%;
	padding: 32px;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
.section-group {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.form-group {
	display: flex;
	border-top: 0.5px solid rgb(198, 193, 193);
	padding: 16px 0;
}
.form-group .input-group {
	margin-left: 24px;
	width: auto;
}
.camera {
	font-size: 38px;
	align-self: center;
	border: 2px dotted gray;
	cursor: pointer;
	padding: 16px 8px 0 16px;
	background-color: rgb(238, 234, 234);
	text-align: center;
}
.camera > span {
	font-size: 16px;
	color: rgb(144, 140, 140);
}
.input-group {
	display: flex;
	flex-direction: column;
}
.input-duo > .input-group {
	width: 47%;
}
.form-title {
	margin-bottom: 16px;
	font-size: 14px;
}
.input-duo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.btn-group {
	display: flex;
	justify-content: end;
	margin-top: 16px;
}
.btn-group button,
input {
	margin-right: 8px;
	cursor: pointer;
}
/* Experiences */
.experiencesCard {
	position: relative;
	top: -190px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	margin: 32px auto;
	padding: 32px;
	width: 60%;
	border: none;
	border-radius: 4px;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
.cardHeader {
	align-self: self-start;
	margin-bottom: 16px;
}
.cardHeader:hover {
	text-decoration: underline;
}
hr {
	margin: 16px 0 16px 0;
	border-top: 1px solid rgb(246, 244, 244);
	color: rgb(232, 228, 228);
}
.cardTitle {
	font-size: medium;
}
.cardTitle > span {
	background-color: blue;
	border-radius: 50%;
	padding: 1px 5px;
	font-size: x-small;
	font-weight: bold;
	color: #fff;
	position: relative;
	top: -14px;
	left: 10px;
}
.cardBody {
	display: none;
}
.inputDuo {
	display: flex;
	justify-content: space-between;
}
.inputGroup {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.inputDuo p {
	justify-self: center;
}
.inputDuo .inputGroup {
	max-width: 49%;
}
.inputGroup > label {
	text-align: start;
	font-size: small;
}
.inputGroup p {
	color: #b9b4b4;
}
.btnGroup {
	display: flex;
	justify-content: flex-end;
	margin-top: 26px;
}
.btnGroup button {
	padding: 2px 10px;
	font-size: xx-small;
	background-color: #fff;
	border: 0.1px solid #b9b4b4;
	border-radius: 2px;
	cursor: pointer;
}
input,
textarea {
	border: 2px solid #e6e2e2;
	border-radius: 4px;
	padding: 8px;
	resize: none;
	width: 100%;
}
.btnGroup button:hover {
	text-decoration: underline;
}
.first {
	margin-right: 16px;
}
.add {
	margin-top: 16px;
	width: 100%;
	border: none;
	padding: 8px 0;
	border-radius: 4px;
	cursor: pointer;
}
.add:hover {
	text-decoration: underline;
}
.add span {
	position: relative;
	right: 2px;
	top: -2px;
	border: 1px solid #000;
	border-radius: 50%;
	padding: 1px 4px;
	font-size: x-small;
}
.educationList .inputGroup {
	align-items: start;
}
.educationList ul {
	padding-left: 0;
}
.educationList li {
	list-style-type: none;
}
.editList {
	display: flex;
	align-items: center;
	gap: 32px;
}
.editList button {
	border: none;
	background-color: #fff;
	cursor: pointer;
	margin-right: 24px;
}

.templates {
	position: relative;
	top: -160px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 16px;
	padding: 0 32px;
}
.template {
	background-color: var(--secondary-color);
	display: flex;
	flex: 1;
	justify-content: center;
	margin: 32px auto;
	padding: 32px;
	border: none;
	border-radius: 4px;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
.template hr {
	border: none;
	border-top: 0.5px solid #333;
	color: #333;
	overflow: visible;
	text-align: center;
	height: 5px;
}

.template hr:after {
	background: #fff;
	padding: 0 4px;
	position: relative;
	top: -13px;
}
.educationHr:after {
	content: 'EDUCATION';
	font-size: 12px;
}
.objectiveHr:after {
	content: 'RESUME OBJECTIVE';
	font-size: 12px;
}
.workExperienceHr:after {
	content: 'WORK EXPERIENCE';
	font-size: 12px;
}
.skillsHr:after {
	content: 'SKILLS';
	font-size: 12px;
}
.languagesHr:after {
	content: 'LANGUAGES';
	font-size: 12px;
}
.interestsHr:after {
	content: 'INTERESTS';
	font-size: 12px;
}
.duoHr {
	margin: 0;
	border-top: 1px solid var(--oslo-primary-color);
}
.template .mainHr {
	border-top: 3px solid var(--oslo-primary-color);
	margin-top: 0;
}
.template h3,
p {
	color: var(--oslo-primary-color);
	font-size: small;
}
.template .name {
	font-weight: bold;
	text-align: center;
	padding: 8px;
	font-size: 24px;
}
.template .address {
	text-align: center;
	margin-top: -16px;
}
.template .center {
	text-align: center;
}
.template:hover {
	border: 3px solid var(--oslo-primary-color);
}

.tooltipText {
	font-size: 16px;
	text-align: center;
	background-color: black;
	color: #fff;
	border-radius: 6px;
	padding: 5px;
	position: relative;
	visibility: hidden;
}
.tooltipText::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltipText {
	visibility: visible;
}
.col-2 {
	display: flex;
	justify-content: space-between;
}
@media print {
	.Nav {
		display: none;
	}
}
@media (max-width: 768px) {
	.templates {
		padding: 0;
		gap: 8px;
	}
	.decorationBar,
	.Nav {
		display: none;
	}
	.cardContainer,
	.form-card,
	.experiencesCard,
	.templates {
		width: 100%;
		top: 0;
	}
	.card,
	.experiencesCard {
		width: 90%;
		flex-direction: column;
	}
}
