.errorDiv {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.errorDiv h1 {
	font-size: 64px;
}
/* NavBar */
.Nav {
	background-color: #2dc46a;
	color: #ffffff;
	display: flex;
	flex-direction: column;
}
.nav-list {
	display: flex;
	list-style-type: none;
	justify-content: space-evenly;
	align-items: center;
	padding: 16px;
}
.nav-brand {
	font-size: 24px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
}
.nav-brand > span {
	font-weight: bold;
}
a {
	text-decoration: none;
	color: #ffffff;
}
h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 32px;
}
.subtitle {
	font-size: medium;
	text-align: center;
	font-size: 32px;
	margin-bottom: 16px;
}
/* Footer */
.footer {
	background-color: black;
	color: #a39e9e;
	padding: 24px;
}
.footer ul {
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.footer li {
	list-style: none;
}
